<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input Form</title>
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> -->
    <link rel="stylesheet" href="C:\Users\patna\OneDrive\Desktop\Academics\PROJECTS\Final project _ c22\static\styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
        </ul>
    </nav>
    <h1>Enter Your Data</h1>
    <form action="{{ url_for('predict')}}"method="post">
        <label for="crop">Crop Being Grown:</label><br>
        <input type="text" id="crop" name="crop"><br>
        <label for="crop">Rainfall:</label><br>
        <input type="text" id="rain" name="rain"><br>
        <label for="crop">Max. temp:</label><br>
        <input type="text" id="matemp" name="matemp"><br>
        <label for="crop">Min. temp:</label><br>
        <input type="text" id="mitemp" name="mitemp"><br>
        <label for="district">District Name:</label><br>
        <input type="text" id="district" name="district"><br>
<!--
        <label for="loan">Loan Amount:</label><br>
        <input type="number" id="loan" name="loan"><br>
        <label for="land">Land Area under Cultivation:</label><br>
        <input type="number" id="land" name="land"><br>
-->
        <input type="button" onclick="window.location.href='output.html';" value="Submit">
    </form>
</body>
</html>
